* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: myFont;
    src: url(fonts/coolvetica.otf);
}

/* ------var styles------- */
:root {
    --primary-grey: #474747;
    --secondary-grey: #757575;
    --light-grey: #eeeeee;
    --inactive-icons: #bababa;
    --border-light-color: #dfdfdf;
    --error-color: #e62a2a;
    --hover-grey: #3E4043;
}


/* ------Gobal classes------- */
.hidden {
    display: none;
}

.visible {
    display: block;
}

.visible-flex {
    display: flex;
}

.icon-rotation {
    transform: rotate(180deg);
}

/* -------------------------------- */

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* name window section */
.name-window {
    background: url(backgrounds/name-window.jpg);
    background-size: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name-window__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
    box-sizing: border-box;
}

.name-window__title {
    font-family: myFont;
    color: var(--primary-grey);
    font-size: 80px;
    letter-spacing: 6px;
    text-align: center;
    margin: 0;
    line-height: 70px;
}

.name-window__subtitle {
    font-family: myFont;
    color: #646464;
    letter-spacing: 2px;
    width: fit-content;
    text-align: center;
    margin: 4px 0 0 0;
    font-size: 22px;
}

.name-window__text {
    text-align: center;
    margin: 25px 0 0 0;
    color: var(--primary-grey);
    font-size: 16px;
}

.name-container {
    position: relative;
    display: flex;
    height: 40px;
    margin: 20px 0 0 0;
    align-items: center;
    column-gap: 15px;
}

.input {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
    height: 50px;
    line-height: 30px;
}

.input__name {
    position: absolute;
    color: #000;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 12px;
    background: transparent;
    border: 1px solid var(--secondary-grey);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    z-index: 50;
}

.input__label-line {
    position: absolute;
    color: var(--secondary-grey);
    padding: 0 10px;
    background: #fff;
    transition: 0.2s ease;
}

.input__name:focus, 
.input__name:valid  {
    color: #000;
    border: 2px solid var(--primary-grey);
}

.input__name:focus + .input__label-line, 
.input__name:valid + .input__label-line  {
    color: var(--primary-grey);
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    transform: translate(-5px, -20px) scale(.8);
    z-index: 50;
}

.continue__btn {
    font-size: 30px;
    color: var(--primary-grey);
    transition: color .2s;
}

.continue__btn:hover {
    font-size: 30px;
    color: var(--secondary-grey);
}

.input__name.error {
    border: 2px solid var(--error-color);
}

.error {
    color: var(--error-color);
}

.input__name:valid + .input__label-line.error,
.input__name:focus + .input__label-line.error {
    color: var(--error-color);
}

.name-container__text-error {
    position: absolute;
    top: 30px;
    left: 5px;
    font-size: 14px;
    color: var(--error-color);
    width: 230px;
}

/* nav-bar */
.nav {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    border-bottom: 2px solid var(--border-light-color);
}

.nav__logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 20px;
    transform: translate(0, -50%);
    column-gap: 10px;
    text-decoration: none;
}

.nav__logo {
    margin: 0;
    color: var(--secondary-grey);
    font-size: 20px;
    line-height: 20px;
}

.nav__logo-name {
    margin: 0;
    font-family: myFont;
    color: var(--secondary-grey);
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
}

.nav__logo-container:hover .nav__logo,
.nav__logo-container:hover .nav__logo-name {
    color: var(--primary-grey);
}

.nav__search-container {
    position: relative;
}

.nav__search-icon {
    position: absolute;
    left: 15px;
    top: 15px;
    line-height: 16px;
    color: var(--inactive-icons);
    transform: translate(0, -50%);
}

.nav__search {
    width: 400px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    border: 2px solid var(--inactive-icons);
    border-radius: 40px;
    outline: none;
    box-sizing: border-box;
    padding: 0 30px 0 40px;
}

.nav__search::placeholder {
    color: var(--inactive-icons);
}

.nav__search-close-icon {
    position: absolute;
    color: var(--secondary-grey);
    right: 15px;
    top: 15px;
    transform: translate(0, -50%);
    line-height: 16px;
}

.nav__search:focus {
    color: var(--primary-grey);
    border-color: var(--secondary-grey);
}

.nav__search:focus + .nav__search-icon {
    color: var(--secondary-grey);
}

.nav__user {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 15px;
    transform: translate(0, -50%);
    column-gap: 4px;
}

.nav__user-icon {
    margin: 0;
    color: var(--secondary-grey);
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.nav__user-icon:hover {
    background: var(--light-grey);
}

.menu-styles {
    position: absolute;
    right: 5px;
    flex-direction: column;
    background: #fff;
    width: 140px;
    padding: 20px;
    border-radius: 10px;
    row-gap: 15px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.sec-menu__title {
    font-size: 22px;
    margin: 0 0 5px 0;
    color: var(--primary-grey);
}

.theme {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.Theme__toggle-buton {
    height: 20px;
    width: 40px;
    margin: 0;
    background: #fff;
    appearance: none;
    border-radius: 20px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1),
                inset 0 1px 2px rgba(0,0,0,.1),
                inset 0 -1px 1px rgba(0,0,0,.1);
    position: relative;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.Theme__toggle-buton::before {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-radius: 20px;
    transform: scale(.9);
    transition: .5s;
    box-shadow: 0 1px 1px rgba(0,0,0,.1), 
                inset 1px 1px rgba(255, 255, 255,1), 
                inset -1px 1px rgba(255, 255, 255,1);
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
}

.Theme__toggle-buton:checked {
    background: #222;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1),
                inset 0 1px 2px rgba(0,0,0,.1),
                inset 0 -1px 1px rgba(0,0,0,.05);

}

.Theme__toggle-buton:checked::before {
    left: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.5), 
                inset 1px 1px rgb(121, 121, 121), 
                inset -1px 1px rgb(121, 121, 121);
    background: linear-gradient(to bottom, #555, #222);
}

.item {
    margin: 0;
}

.fonts {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.dropdown-menu__chevron {
    cursor: pointer;
    transition: .2s;
}

.font-styles {
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 8px 0 0 12px;
    transition: .3s;
}

.font-styles__item {
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.font-styles__item:hover {
    background: var(--light-grey);
}

.profile-menu {
    /* display: flex; */
    align-items: center;
}

.user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-grey);
    padding: 20px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.user-image__icon {
    color: #fff;
    font-size: 40px;
}

.change-nameBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-grey);
    margin: 5px 0 5px 0;
    padding: 6px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.change-nameBtn:hover {
    background: var(--primary-grey);
}

.change-nameBtn__text {
    margin: 0;
    color: #fff;
}

.projects__content {
    display: flex;
}

/* sidebar */
.sidebar {
    position: fixed;
    /* display: flex; */
    flex-direction: column;
    width: 150px;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-right: 2px solid var(--border-light-color);
}

.sidebar__icon-container {
    display: flex;
    position: relative;
    height: 32px;
    text-decoration: none;
    align-items: center;
    column-gap: 10px;
    padding: 0 0 0 16px;
}

.sidebar__icon-container:hover {
    background: var(--light-grey);
}

.sidebar__icon {
    color: var(--secondary-grey);
    font-size: 15px;
}

.sidebar__icon-text {
    color: var(--secondary-grey);
    position: absolute;
    left: 44px;
    top: 16px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    transform: translate(0, -50%);
}

/* -------main-------- */
.main {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 150px;
    width: 100%;
    box-sizing: border-box;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__name {
    font-size: 75px;
    line-height: 70px;
    color: var(--primary-grey);
    margin: 50px 0 0 0 ;
}

/* .username-saved {
    
} */

.title__message {
    font-size: 24px;
    margin: 6px 0 0 0;
    color: var(--secondary-grey);
}

/* ----Boards----- */
.boards-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 45px 0 45px;
    box-sizing: border-box;
}

.board-title {
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: var(--primary-grey);
}

.board-title__text {
    font-size: 40px;
    margin: 0;
    line-height: 30px;
}

.sort {
    display: flex;
    position: relative;
    top: 5px;
    align-items: center;
    background: var(--light-grey);
    color: var(--secondary-grey);
    height: 25px;
    padding: 0 10px;
    border-radius: 20px;
    column-gap: 10px;
    cursor: pointer;
}

.sort:hover {
    color: var(--light-grey);
    background: var(--secondary-grey);
}

.sort__icon {
    font-size: 15px;
}

.sort__text {
    font-size: 14px;
}

.boards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    row-gap: 30px;
    margin: 35px 0 0 0;
}

.board {
    background: var(--secondary-grey);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}

.board:hover {
    background: var(--primary-grey);
}

.board__name {
    font-weight: bold;
}

.board__div-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    padding: 7px;
    margin: 0;
    cursor: pointer;
}

.board__div-settings:hover {
    background: #5a5a5a;
    border-radius: 50%;
}

/* .board__settings{
    
}
 */